<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Blaser_ÖTV_Fatura_Irsaliye.Properties.Settings.Cs"
            connectionString="Data Source=Mehmet\SQLEXPRESS;Initial Catalog=YNS00006;Persist Security Info=True;User ID=YNS00006;Password=PSW00006"
            providerName="System.Data.SqlClient" />
        <add name="Blaser_ÖTV_Fatura_Irsaliye.Properties.Settings.CsMaster"
            connectionString="Data Source=MEHMET\SQLEXPRESS;Initial Catalog=YNMASTER600;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Blaser_ÖTV_Fatura_Irsaliye.Properties.Settings.CsBlaser"
            connectionString="Data Source=MEHMET\SQLEXPRESS;Initial Catalog=Blaser;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
